.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-custom {
  padding: 10px 20px;
  margin: 25px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: #0056b3;
}
