.container {
  display: flex;
  justify-content: center;
}

.recipe-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.recipe-list li {
  flex: 0 0 calc(25% - 30px);
  max-width: calc(25% - 30px);
  margin: 15px;
}

.recipe-button {
  margin: 20px;
  padding: 20px;
  background-color: #add8e6;
  border: none;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.recipe-button:hover {
  background-color: #87ceeb;
}
