.link-manager {
  display: flex;
  flex-direction: column;
}

.link-form,
.category-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.link-form input,
.category-form input,
.link-form select {
  width: calc(100% - 40px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.link-form button,
.category-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.link-form button:hover,
.category-form button:hover {
  background-color: #0056b3;
}

.links-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.links {
  overflow-y: auto;
  max-height: 300px;
}

.link {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.link a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link button {
  margin-left: 10px;
}

.link button.btn-primary {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.link button.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
}

.category-tabs {
  display: flex;
  gap: 10px;
}

.category-tab {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-tab.active {
  background-color: #0056b3;
}

.tab-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.category-name {
  margin-right: 10px;
  font-weight: bold;
}

.close-button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.close-button:focus {
  outline: none;
}
