.container {
  display: flex;
  justify-content: center;
}

.recipe-list {
  list-style: none;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.recipe-list li {

}

.recipe-button {
  margin: 15px;
  padding: 20px;
  background-color: #add8e6;
  border: none;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  width: auto;
}

.recipe-button:hover {
  background-color: #87ceeb;
}
