<div class="modal-header">
    <h4 class="modal-title">{{ recipeName }}</h4>
    <button type="button" class="btn-close close" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h6>Składniki:</h6>
    <ul>
        <li *ngFor="let ingredient of ingredients">{{ ingredient.ingredientName }} - {{ ingredient.quantity }}</li>
    </ul>
</div>
<div class="modal-footer" *ngIf="userHasRecipe">
    <button class="btn btn-primary" (click)="openEditRecipeModal(selectedRecipe)">Edytuj przepis</button>
    <button class="btn btn-danger" (click)="deleteRecipe(recipeName)">Usuń przepis</button>
</div>
