.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-send,
.btn-edit,
.btn-delete {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    line-height: 1;
}

.modal-title {
    flex: 1;
    overflow-wrap: break-word;
    max-width: 90%;
}

.btn-send:hover {
    background-color: #45a049;
}

.btn-edit:hover {
    background-color: #0056b3;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-send:active,
.btn-edit:active,
.btn-delete:active {
    transform: translateY(1px);
}

.ingredient-name {
    display: inline-block;
    width: 70%;
}

.modal-header {
    display: flex;
    align-items: center;
}

.btn-close {
    margin-left: auto;
}
