<div class="modal-header">
    <h4 class="modal-title">{{ recipeName }}</h4>
    <button type="button" class="btn-close close" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
  <h6>Składniki:</h6>
  <ul>
    <li *ngFor="let ingredient of ingredients">{{ ingredient.ingredientName }} - {{ ingredient.quantity }}</li>
  </ul>

  <h6>Kroki:</h6>
  <ol style="max-width: 100%;">
    <li *ngFor="let step of selectedRecipe.recipeDescriptionSteps" style="word-wrap: break-word;">{{ step.description  }}</li>
  </ol>
</div>
<div class="modal-footer" *ngIf="userHasMessagingId || userHasRecipe">
    <button class="btn-send" *ngIf="userHasMessagingId" (click)="sendIngredientsAsList()">Send ingredients list</button>
    <button class="btn btn-primary" *ngIf="userHasRecipe" (click)="openEditRecipeModal(selectedRecipe)">Edytuj przepis</button>
    <button class="btn btn-danger" *ngIf="userHasRecipe" (click)="deleteRecipe(recipeName)">Usuń przepis</button>
</div>
<div class="modal-footer" *appHasRole="['Admin']">
    <button class="btn-send" *ngIf="userHasMessagingId" (click)="sendIngredientsAsList()">Send ingredients list</button>
    <button class="btn btn-primary" (click)="openEditRecipeModal(selectedRecipe)">Edytuj przepis</button>
    <button class="btn btn-danger" (click)="deleteRecipe(recipeName)">Usuń przepis</button>
</div>
